<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1 style="text-align: center;">Sign up to GG Job Portal!</h1>
    <form action="../Controller/register.php" method="post" style="text-align: center;">
        Username: <input type="text" name="username" id="username"><br><br>
        Email<p style="margin-left: 25px; display:inline" >:</p> <input type="text" name="email" id="email" ><br><br>
        Password: <input type="password" name="password" id="password"><br><br>
        <input type="submit" value="Submit" style="cursor: pointer; margin-right:20px">
    </form>
</body>
</html>